@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #27282a;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

header {
    background-color: #201E1E;
    display: flex;
}

header img {
    width: 10%;
    margin-left: 5%;
}

header nav {
    display: flex;
    width: 100%;
}

header nav ul {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: end;
    margin-right: 5%;
}

header nav ul li {
    color: white;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;

}

#overskrift {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 200;
    color: white;
    margin-top: 15%;
}

.circle {
    margin: auto;
    height: 140px;
    width: 140px;
    border-radius: 100%;
    border: 4px solid #363535;
    background-color: #201E1E;
    color: white;
    z-index: 997;
    margin-top: 20%;
}

.circle-two {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: 1px dashed #55ec20;
    z-index: 998;
    margin-top: 6%;
    justify-content: center;
    align-items: center;
}

.circle-three {
    margin: auto;
    height: 140px;
    width: 140px;
    border-radius: 100%;
    border: 4px solid #363535;
    background-color: #201E1E;
    color: white;
    z-index: 997;
    margin-top: 20%;
}

.circle-four {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: 1px dashed #55ec20;
    z-index: 996;
    margin-top: 6%;
    justify-content: center;
    align-items: center;
}

.circle-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

p {
    padding: 0;
    margin: 0;
    font-weight: 200;
    letter-spacing: 1px;
}

.undertekst {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
}

#timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: #201e1e;
    width: 80%;
    align-content: center;
    margin: auto;
    height: 35px;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
}